<figure class="login-backer">
  <section class="mini-header group">
    <a href="/"><h1> Welcome to Nighttyme </h1>
    <p>
      Are you ready for the night?
    </p></a>
  </section>

  <section class="login group">
    <h2 class="sign-up">Sign Up</h2>
    <% unless flash[:errors].nil? %>
      <% flash[:errors].each do |error| %>
        <%= error %><br>
      <% end %>
    <% end %>
    <form class="sign-up group" action="<%= users_url %>" method="post">
      <%= auth_token %>
      <label for="Username">Username:</label>
      <input  type="text"
              name="user[username]"
              id="Username"
              value="<%= @user.username %>"
              required
              title="Username must not be blank"
              placeholder="Please enter a valid user name"><br>
      <label for="Email">Email:</label>
      <input  type="email"
              name="user[email]"
              id="Email"
              value="<%= @user.email %>"
              required
              title="Email must not be blank"
              placeholder="Please enter a valid email"><br>
      <label for="City">City:</label>
      <input  type="text"
              name="user[location]"
              id="City"
              value="<%= @user.location %>"
              required
              title="City must not be blank"
              placeholder="Please enter a valid location"><br>
      <label for="Password">Password:</label>
      <input  type="password"
              name="user[password]"
              id="Password"
              value=""
              required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
              title="Password must contain at least 6 characters, including UPPER/lowercase and numbers."
              placeholder="Please enter a valid password"><br>
      <input type="submit" class="submit" value="Sign Up">
    </form>
    <p class="sign-up">
      Already have an account? <a href="session/new">Sign in here</a>
    </p>
  </section>
</figure>
