  <!DOCTYPE html>
<html>
<head>
  <title>Nighttyme</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <script
     src="https://maps.googleapis.com/maps/api/js?key=<%= Figaro.env.google_maps_api_key %>">
   </script>
</head>
<header>
  <% if logged_in? %>
    <script>
      window.user = '<%= current_user.username %>';
    </script>
  <% end %>
</header>
<body>

<%= yield %>

</body>
</html>
